/*----------------------------------------
		Global definitions
----------------------------------------*/
:root {
	--font-family-category: var(--font-family-default);
	--font-size-category: 14pt;
	--font-weight-category: bolder;

	--font-family-default: Comfortaa;
	--font-size-default: 12pt;
	--font-weight-default: normal;

	--font-family-header: var(--font-family-default);
	--font-size-header: 17pt;
	--font-weight-header: bold;

	--font-family-headline: var(--font-family-default);
	--font-size-headline: 14pt;
	--font-weight-headline: bolder;

	--font-family-navigation: var(--font-family-default);
	--font-size-navigation: 14pt;
	--font-weight-navigation: bolder;

	--font-family-topic: var(--font-family-default);
	--font-size-topic: 13pt;
	--font-weight-topic: bold;
}

* {
	margin: 0px;
	color: var(--color-text-primary);
	font-family: var(--font-family-default);
	font-size: var(--font-size-default);
	font-weight: var(--font-weight-default);
}

/*----------------------------------------
		Tag definitions
----------------------------------------*/
a {
	padding-left: 20px;
	padding-right: 20px;
	text-decoration: none;
	border-bottom: none;
	transition: 0.3s;
}

a:visited {
	text-decoration: none;
}

a:hover {
	border-bottom: 1px solid var(--color-accents-primary);
	transition: 0.3s;
}

body {
	background-color: var(--color-background-primary);
}

header {
	height: 75px;
	display: flex;
	align-items: center;
	justify-content: center;
}

header > span {
	font-variant: small-caps;
	font-family: var(--font-family-header);
	font-size: var(--font-size-header);
	font-weight: var(--font-weight-header);
}

nav {
	height: 25px;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: var(--color-background-secondary);
	font-family: var(--font-family-navigation);
	font-size: var(--font-size-navigation);
	font-weight: var(--font-weight-navigation);
}

nav > a {
	display: inline-block;
}

section {
	padding: 5px;
	padding-top: 20px;
}

section > span {
	padding-left: 5px;
	display: block;
	text-align: center;
	font-size: var(--font-size-headline);
	font-weight: var(--font-weight-headline);
	font-variant: small-caps;
}

section > div {
	padding-left: 10px;
	padding-top: 15px;
}

footer {
	max-height: 300px;
	width: 100%;
	background-color: var(--color-background-secondary);
}

/*----------------------------------------
		Class definitions
----------------------------------------*/
.content {
	max-height: 80%;
	max-width: 1400px;
	width: 1400px;
	margin: 0px auto;
}

.blog-preview-section {
	max-height: 250px;
}

.blog-preview-topic {
	font-size: var(--font-size-topic);
	font-weight: var(--font-weight-topic);
}

.blog-preview-chapter {
	padding-top: 5px;
}

.creations-main-section {
	max-height: 250px;
}

.creations-preview-summary {
	padding-top: 5px;
}

.documentation-main-section {
	max-height: 250px;
}

.documentation-preview-summary {
	padding-top: 5px;
}

.tutorial-main-section {
	max-height: 250px;
}

.tutorial-main-category {
	font-family: var(--font-family-category);
	font-size: var(--font-size-category);
	font-weight: var(--font-weight-category);
}

.tutorial-preview-section {
	max-height: 250px;
	padding-top: 15px;
}

.tutorial-preview-topic {
	font-size: var(--font-size-topic);
	font-weight: var(--font-weight-topic);
}

.tutorial-preview-chapter {
	padding-top: 5px;
}

/*----------------------------------------
		ID definitions
----------------------------------------*/