:root {
	--color-background-primary: #272727;
	--color-background-secondary: #373737;
	--color-background-tertiary: #202020;
	--color-accents-primary: #ff0032;
	--color-text-primary: #dddddd;
	--color-links-primary: #dddddd;
	--color-links-visited: #888888;
}